<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  

  <div class="main">
    <span class="city">Melbourne</span>
    <span class="date">Mon,3:10pm</span>

    <div class="icon">
      <img src="../../assets/favicon.png" alt="">
    </div>

    <span class="description">Cloudy</span>
    <span class="temperature">18°</span>

  </div>

  <!-- 7 Day forecast grid -->
  <ion-grid>
    <!-- Day Row -->
    <ion-row>
      <ion-col class="day">Tue </ion-col>
      <ion-col class="day">Wed</ion-col>
      <ion-col class="day">Thurs</ion-col>
      <ion-col class="day">Fri</ion-col>
      <ion-col class="day">Sat</ion-col>
      <ion-col class="day">Sun</ion-col>
      <ion-col class="day">Mon</ion-col>
    </ion-row>
    <!-- Chances of precipitation -->
    <ion-row>
      <ion-col class="precipitation">60%</ion-col>
      <ion-col class="precipitation">20%</ion-col>
      <ion-col class="precipitation">20%</ion-col>
      <ion-col class="precipitation">50%</ion-col>
      <ion-col class="precipitation">29%</ion-col>
      <ion-col class="precipitation">65%</ion-col>
      <ion-col class="precipitation">75%</ion-col>
    </ion-row>

    <!-- weather icon -->
    <ion-row>
      <ion-col class="icon-sm"><img src="../../assets/.2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/.2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/.2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/.2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/.2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/.2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/.2x.png"></ion-col>
    </ion-row>

    <!-- Max Temperature -->
    <ion-row>
      <ion-col class="hi-sm">27°c</ion-col>
      <ion-col class="hi-sm">32°c</ion-col>
      <ion-col class="hi-sm">27°c</ion-col>
      <ion-col class="hi-sm">25°c</ion-col>
      <ion-col class="hi-sm">22°c</ion-col>
      <ion-col class="hi-sm">30°c</ion-col>
      <ion-col class="hi-sm">25°c</ion-col>
    </ion-row>

    <!-- Min Temperature -->
    <ion-row>
      <ion-col class="lo-sm">23°c</ion-col>
      <ion-col class="lo-sm">22°c</ion-col>
      <ion-col class="lo-sm">21°c</ion-col>
      <ion-col class="lo-sm">16°c</ion-col>
      <ion-col class="lo-sm">19°c</ion-col>
      <ion-col class="lo-sm">21°c</ion-col>
      <ion-col class="lo-sm">17°c</ion-col>
    </ion-row>

  </ion-grid>
</ion-content>